<div id="recommendation" *ngIf="placeInfo">
    <!-- {{lat }} {{long}}  recommend -->
    <!-- {{placeInfo.name}} -->
    <!-- <p>Recommendation</p> -->
    <!-- <img src="https://www.savvywomensalliance.org/hubfs/Recommendations.png" alt=""> -->
    <p *ngIf="placeInfo.lat && placeInfo.long">LAT: {{placeInfo?.lat}}<br>LONG: {{placeInfo?.long}}</p>
    <p *ngIf="placeInfo.phoneNumber">PHONE NUMBER: {{placeInfo?.phoneNumber}}</p>
    <p *ngIf="placeInfo.name">NAME: {{placeInfo?.name}}</p>
    <p *ngIf="placeInfo.address">ADDRESS: {{placeInfo?.address}}</p>
    <p *ngIf="placeInfo.rating">RATING: {{placeInfo?.rating}}</p>
    <p *ngIf="placeInfo.createdAt">CREATED AT: {{placeInfo?.createdAt | date: 'dd/MM/yyyy, h:mm a'}}</p>
    <p *ngIf="placeInfo.updatedAt">UPDATED AT: {{placeInfo?.updatedAt | date: 'dd/MM/yyyy, h:mm a'}}</p>
</div>