<div class="span1">
    <a [routerLink]="['./c']">Test</a>
    <button class="btn btn-primary" (click)="storeData()">
        <i class="icon-pencil icon-white"></i>
        <span>
            <strong>Write</strong>
        </span>
    </button>
    <button class="btn btn-primary bg-light text-dark" (click)="logData()">
        <i class="icon-pencil icon-white"></i>
        <span>
            <strong>Log</strong>
        </span>
    </button>
    <button class="btn btn-primary bg-dark text-light" (click)="clearData()">
        <i class="icon-pencil icon-white"></i>
        <span>
            <strong>Clear</strong>
        </span>
    </button>
</div>