<!-- https://ultimatecourses.com/blog/ng-class-angular-classes -->

<div *ngIf="(place$ | async) as place" class="item-detail main-bg">
    <form>
        <p>Address:
            <span>{{place.address}}</span>
        </p>
        <input type="text" name="address" placeholder="Text here" [value]="place.name" readonly >
    </form>
    
    <app-map [placeInfo]="place" [isMarkerDraggable]="false"></app-map>
    <!-- <app-recommendation></app-recommendation> -->

    <button (click)="removeFromList()">Remove from Favorite</button>
</div>

<!-- <ng-template #loading>
    <div *ngIf="!isNotFound; else notFound">Loading...</div>
</ng-template> -->

<!-- <ng-template> -->
<app-not-found *ngIf="isNotFound"></app-not-found>
<!-- </ng-template> -->

<ngx-loading [show]="loading"></ngx-loading>