.item-detail {
    padding: 50px 0;
    input {
        // margin: 0 auto;
        &[name="address"] {
            display: inline-block;
            width: 100%;
            border: solid 1px white;
        }
        &[type="submit"] {
            width: 20%;
            display: inline-block;
        }
        &:focus {
            color: white;
        }
    }
    form {
        p {
            span {
                color: white;
            }
        }
    }
    button {
        width: auto;
    }
}