<div id="map">
    <agm-map [zoom]="12" [latitude]="placeInfo?.lat" [longitude]="placeInfo?.long">
        <agm-marker [latitude]="marker?.lat" [longitude]="marker?.long" [label]="marker?.label" [markerDraggable]="marker?.draggable" (dragEnd)="markerDragEnd($event)">
        </agm-marker>
    </agm-map>

</div>

<div *ngIf="placeInfo?.lat && placeInfo?.long">

    <app-recommendation [placeInfo]="placeInfo"></app-recommendation>

    <app-weather-info [lat]="placeInfo?.lat" [long]="placeInfo?.long"></app-weather-info>

    <app-weather-map [lat]="placeInfo?.lat" [long]="placeInfo?.long"></app-weather-map>
</div>
