#map{
    width: 500px;
    height: 400px;
    border: solid 1px white;
    border-radius: 20px;    
    margin: 50px  auto;
    overflow: hidden;
}

// #map {
//     height: 400px;
//     /* The height is 400 pixels */
//     width: 50%;
//     /* The width is the width of the web page */
// }

agm-map {
    height: 100%;
    width: 100%;
}