<div class="login-form main-bg">
  <h2 class="text-light">LOG IN</h2>
  <div>
    <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin)">
      <input type="text" required maxlength="30" minlength="2" placeholder="username" name="username" ngModel #username="ngModel">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
        <div *ngIf="username.errors.maxlength">
          Username cannot be more than 30 characters long.
        </div>
        <div *ngIf="username.errors.minlength">
          Username must be at least 2 characters long.
        </div>
      </div>

      <input type="password" required maxlength="30" minlength="2" name="password" placeholder="password" ngModel #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.maxlength">
          Password cannot be more than 30 characters long.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 2 characters long.
        </div>
      </div>

      <input type="submit" class="submit" value="Log In">
    </form>
  </div>
</div>

<!-- <input type="text" class="form-control" id="name" required maxlength="30" minlength="2" ngModel name="name" #name="ngModel"> -->

<!-- 
<p>-- {{username.value}}- {{password}}
</p>
<p>VALUE: {{value}} </p> -->

<!-- https://www.tutorialspoint.com/angular6/angular6_forms.htm -->
<!-- https://medium.com/swlh/angular-validation-errors-made-easy-3bc1a837c6e7 -->
<!-- https://stackabuse.com/angular-form-validation/ -->