<div class="place-picker main-bg">
    <form>
        <p>Address</p>
        <!-- <input type="text" name="address" formControlName="address" placeholder="Text here">
        <input type="submit" name="submit" value="GO"> -->
        <!-- <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off"
            autocapitalize="off" spellcheck="off" type="text" #search> -->
        <input id="placeSearchBox" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
    </form>

    <!-- <div class="form-group">
        <label>Enter address</label>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off"
            autocapitalize="off" spellcheck="off" type="text" #search>
    </div> -->
    <div>
        <app-map (changeLocation)="changeLatLong($event)"  [placeInfo]="placeInfo"></app-map>
    </div>


    <button *ngIf="isButtonAvailable" (click)="addFavorite()">Add to Favorite</button>


</div>