.place-picker {
    &>* {
        margin: auto;
    }
    padding: 50px 0;
    input {
        // margin: 0 auto;
        &[name="address"] {
            display: inline-block;
            width: 80%;
            border: solid 1px white;
            border-right: none;
        }
        &[type="submit"] {
            width: 20%;
            display: inline-block;
        }
    }
    button {
        width: auto;
    }
}