<div class="list-group">
    <div *ngFor="let place of favoritePlaces$ | async">
        <a routerLink="./{{place._id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{place.name}}</h5>
                <small>{{place?.updatedAt | date: 'dd/MM/yyyy'}}</small>
            </div>
            <p class="mb-1">{{place.address}}</p>

        </a>
    </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>