#weather-info {
    width: 500px;
    height: auto;
    border: solid 1px white;
    border-radius: 20px;
    margin: 50px auto;
    overflow: hidden;
    padding: 20px;
    &>*:last-child {
        margin-bottom: 0;
    }
}