<div id="weather-info" *ngIf="weatherInfo">
    <!-- {{lat }} {{long}} weather-info -->

    <!-- <p>Recommendation</p> -->
    <!-- <img src="https://www.savvywomensalliance.org/hubfs/Recommendations.png" alt=""> -->
    <p *ngIf="weatherInfo.temp">TEMP: {{weatherInfo?.temp}}</p>
    <p *ngIf="weatherInfo.pressure">PRESSURE: {{weatherInfo?.pressure}}</p>
    <p *ngIf="weatherInfo.humidity">HUMIDITY: {{weatherInfo?.humidity}}</p>
    <p *ngIf="weatherInfo.temp_min">TEMP_MIN: {{weatherInfo?.temp_min}}</p>
    <p *ngIf="weatherInfo.temp_max">TEMP_MAX: {{weatherInfo?.temp_max}}</p>
</div>