/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
$font: 'Solway', serif;
$border-radius-px: 10px;
$item-margin: 20px auto;
$placeholder-color: rgb(204,
197,
197);
@mixin button-style {
    display: block;
    width: 100%;
    background: transparent;
    border: solid 1px white;
    margin: $item-margin;
    padding: 10px;
    border-radius: $border-radius-px;
}

* {
    font-family: $font;
    // font-family: 'Solway', serif;
    &:focus {
        outline: 0 !important;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $placeholder-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-color;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $placeholder-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-color;
}

form {
    padding: 20px;
    width: 30%;
    height: auto;
    margin: auto;
    border: solid 1px white;
    border-radius: $border-radius-px;
    input {
        @include button-style();
    }
}

button {
    @include button-style();
}

button,
input[type="submit"] {
    width: 30%;
    margin: auto;
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        color: white;
        background-color: #eb4511;
        background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
    }
}

.main-bg {
    background-color: #ffa69e;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
}

.alert {
    transition: 0.5s;
}